.App {
}

.App h1 {
  text-align: center;
}

//.App-logo {
//  animation: App-logo-spin infinite 20s linear;
//  height: 80px;
//}

.App-Content {
  padding-top: 80px;
}

.App-header {
  background-color: #fff;
  height: 90px;
  padding: 20px;
  color: white;
  border-bottom: 1px solid #000;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;

  .SlideMenuButton {
    float: right;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
