{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-return-assign": 0,
    "no-console": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
