.CarList {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;

  .CarListItem {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 5px;

    &.selected, &:hover {
      background-color: #e5e5e5;
    }

    .addr {
      margin-bottom: 4px;
    }

    .city {
      color: #666;
      font-size: 12px;
    }
  }
}
