.CarSearch {
  position: relative;
  width: 940px;
  height: 400px;

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .react-spinner_bar {
      background-color: #000000;
    }
  }
}
