.CarSearchInfoBox {
  position: relative;
  left: auto;
  top: auto;
  width: 182px;

  .iw-top {
    background: url(/book/static/images/googlemaps-infowindow.png) no-repeat;
    font-size: 1px;
    height: 3px;
  }

  .iw-mdl {
    background: url(/book/static/images/googlemaps-infowindow.png) no-repeat -183px 100%;
    padding: 5px 25px 5px 10px;
  }

  .iw-btm {
    background: url(/book/static/images/googlemaps-infowindow.png) no-repeat 0 -5px;
    font-size: 1px;
    height: 13px;
  }
}
