body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// box-sizing reset
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
